{% load static %}

<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li class="mega-menu mega-menu-lg">
                        <a class="has-arrow" href="{% url 'index' %}" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li><a class="has-arrow" href="index-product.html" aria-expanded="false"><i class="mdi mdi-email-outline"></i> <span class="nav-text">Packages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'development' %}">WEB DEVELOPMENT</a></li>
                            <li><a href="{% url 'branding' %}">BRANDING AND GRAPHIC DESIGN</a></li>
                            <li><a href="{% url 'seo' %}">SEO</a>
                            </li>
                            <li><a href="{% url 'research' %}">SEO RESEARCH AND AUDIT</a>
                            </li>
                            <li><a href="{% url 'smm' %}">SOCIAL MEDIA MARKETING</a>
                            </li>
                            <li><a href="{% url 'optimization' %}">OPTIMIZATION</a>
                            </li>
                            <li><a href="{% url 'pr' %}">PR</a>
                            </li>
                            <li><a href="{% url 'content_marketing' %}">CONTENT MARKETING</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end -->
        <!--**********************************